<!-- 
###########
  - render in views/layouts/application.html.erb
  - displays a logout button user logged in
##########
-->

<div class="navClass">

  <% if user_signed_in? %>

  <h3>Currently logged in: <%= current_user.email %></h3>

    <button class="btn-lk btn-md newPostBtn">
      <%= link_to('logout', destroy_user_session_path, method: :delete) %>
    </button>

    <button class="btn-lk btn-md newPostBtn">
      <%= link_to('edit', edit_user_registration_path, method: :get) %>
    </button>

    <button class="btn-lk btn-md newPostBtn">
      <%= link_to('home', root_path, method: :get) %>
    </button>    

 <% end %>

</div>