<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <div class="editContDiv">
  
    <h1 class="editContH1">New Contact</h1>

    <%= render 'form', contact: @contact %>

    <%= link_to 'Back', contacts_path %>

  </div><!-- editContDiv -->

  </div><!-- cols -->

</div><!-- row -->