
/*
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

/* ----------- app/views/layouts/application.html.erb */
.bodyWrap{min-height:440px}
.navClass{
  text-align:center;
  margin: 1% 0 2% 0;
  padding: 1% 0 1% 0;  
}
footer{
  height:300px;
  background-color:black;
}

/* ----------- app/views/devise/registration/new */
.signUpH2{text-align:center;}
.sinUpForm{text-align:center;}

/* -----------  app/views/users/sessions/new.html.erb */
.sessionH2{text-align:center;}
.signInForm{
  width: 30%;
  margin: auto;  
  text-align:center;
}

/* ----------- app/views/devise/registrations/edit.html.erb */
.editUserH2{text-align:center;}
.editUserDiv{text-align:center;}


/* ------------------------------------------------------MEDIA QUERIES */
@media screen and (min-width: 250px) and (max-width: 490px){

body{font-size: 114%;}

/* -----------  app/views/users/sessions/new.html.erb */
.signInForm{width: 75%;}
/* ----------- app/views/contacts/show.html.erb */
.userShow{width:75%;}
  /* ------------- app/views/contacts/edit */
.editContDiv{width:75%;}

}
@media screen and (min-width: 491px) and (max-width: 767px){/* ----------- --------------------- */

body{font-size: 114%;}

/* -----------  app/views/users/sessions/new.html.erb */
.signInForm{width: 75%;}
/* ----------- app/views/contacts/show.html.erb */
.userShow{width:75%;}
  /* ------------- app/views/contacts/edit */
.editContDiv{width:75%;}


}
@media screen and (min-width: 768px) and (max-width: 991px){/* --------------------- */

/* -----------  app/views/users/sessions/new.html.erb */
.signInForm{width: 75%;}
/* ----------- app/views/contacts/show.html.erb */
.userShow{width:75%;}
  /* ------------- app/views/contacts/edit */
.editContDiv{width:75%;}

}

@media screen and (min-width: 992px) and (max-width: 1199px){/* --------------------- */
/* -----------  app/views/users/sessions/new.html.erb */
.signInForm{width: 50%;}
/* ----------- app/views/contacts/show.html.erb */
.userShow{width:50%;}
  /* ------------- app/views/contacts/edit */
.editContDiv{width:50%;}

}
@media screen and (min-width: 1200px) and (max-width: 1499px){/* --------------------- */}
@media screen and (min-width: 1500px) and (max-width: 1700px){/* ------------- */}
@media screen and (min-width: 1701px) and (max-width: 2000px){}