
@import "bootstrap-sprockets";
@import "bootstrap";

.sessionH2{
  text-align:center;
}

.signInForm{
  width: 30%;
  margin: auto;  
  text-align:center;
}


@media screen and (min-width: 250px) and (max-width: 490px){}
@media screen and (min-width: 491px) and (max-width: 767px){/* --------------------- */}
@media screen and (min-width: 768px) and (max-width: 991px){/* --------------------- */}
@media screen and (min-width: 992px) and (max-width: 1199px){/* --------------------- */}
@media screen and (min-width: 1200px) and (max-width: 1499px){/* --------------------- */}
@media screen and (min-width: 1500px) and (max-width: 1700px){/* ------------- */}
@media screen and (min-width: 1701px) and (max-width: 2000px){}